// *******************************************************************************************************
// # layout class
// *******************************************************************************************************

$h1FontSize: 36px;
$h2FontSize: 30px;
$h3FontSize: 20px;
$SmallFontSize: 12px;

$FontColorTitle: #333333;
$FontColor: #424242;
$FontColorWhite: #ffffff;
$FontColorBlue: #4A90E2;
$FontColorRed: #FF0000;

$BgColorWhite: #ffffff;
$BgColorGray: #F7F9FB;
$BgColorGray_2: #E4E4E4;
$BgColorBlue: #E7F0FC;


// header
header {
  height: 134px;
  position: relative;
  background: transparent linear-gradient(75deg, #15D6E6 0%, #05A9F4 0%, #005BBE 100%) 0% 0% no-repeat padding-box;
  h1{
    width: 100%;
    text-align: center;
    font-size: $h1FontSize;
    letter-spacing: 1.8px;
    line-height: 54px;
    font-weight: 900;
    color: $FontColorWhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


h2{
  font-size: $h2FontSize;
  color: $FontColorTitle;
  line-height: 1.5;
  margin-bottom: 32px;
  text-align: center;
  &::after{
    content: "";
    display: block;
    margin: 17px auto 0;
    width: 80px;
    height: 8px;
    border-radius: 4px;
    background: transparent linear-gradient(69deg, #15D6E6 0%, #05A9F4 0%, #005BBE 100%) 0% 0% no-repeat padding-box;
  }
}
h3{
  font-size: $h3FontSize;
}

.section{
  &__inner {
    width: 100%;
    max-width: 1112px; // 1080 + (16 x 2)
    margin: auto;
    padding: 80px 16px;
  }
}

p {
  color: $FontColor;
  margin-bottom: 16px;
}

.text_bold{
  font-weight: 900;
}
.text_color_blue{
  color: $FontColorBlue;
}

.liststyle_dot{
    position: relative;
  
  li {
    position: relative;
    padding-left: 1em;

    &::before {
      content: "・";
      position: absolute;
      left: 0;
    }
  }
}

.lineHeight_min{
  line-height: 1.5;
}

section:nth-child(even){
  background: $BgColorGray;
}

.text_small{
  font-size: $SmallFontSize;
}

.text_hover {
  &:hover{
    color: $FontColorBlue;
    cursor: pointer;
  }
}

// contents
.today_tomorrow{
  display: flex;
  gap: 17px;
  justify-content: space-between;
  .day_0{
    flex: 3;
  }
  .day_1{
    flex: 2;
  }
}

.weekly{
  display: flex;
  flex-wrap: nowrap;
  gap: 17px;
  justify-content: space-between;
  .day_item{
    background: $BgColorGray;
    padding-bottom: 0;
  }
}


.day_item{
  line-height: 24px;
  text-align: center;
  background: $BgColorWhite;
  padding-bottom: 24px;
  width: 100%;
  border-radius: 7px;

  .day_date{
    background: $BgColorBlue;
    height: 71px;
    color: $FontColorBlue;
    border-radius: 7px 7px 0 0;
    font-size: $h3FontSize;
    font-weight: 900;
    margin-bottom: 24px;
    display: grid;
    align-content: center;
    justify-content: center;
  }

  &.day_1{
    .day_date{
      background: $BgColorGray_2;
      color: $FontColorTitle;
    }
  }

  .day_weather{
    color: $FontColor;
    margin-bottom: 1px;
  }
  .day_weather_icon{
    position: relative;
    height: 80px;
    margin-bottom: 24px;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .day_temperature{
    max-width: 128px;
    margin: 0 auto 24px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    .day_temperature_num {
      font-size: $h3FontSize;
      font-weight: 900;
    }
  }
  .day_temperature_max{
    color: $FontColorRed;
  }
  .day_temperature_min{
    color: $FontColorBlue;
  }
}


.day_precipitation {
  max-width: 322px;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}


footer{
  padding: 80px 0;
  background: $BgColorWhite;
  p{
    font-size: $SmallFontSize;
    text-align: center;
    margin: auto;

  }
}



@media (max-width: 768px) {
  header {
    height: 182px;
    h1{
      font-size: $h2FontSize;
      letter-spacing: 1.5px;
    }
  }

  .today_tomorrow,
  .weekly {
    flex-direction: column;
    gap: 30px;
  }

  .day_item {
    max-width: 100%;
  }

  .day_temperature {
    max-width: 100%;
  }
}